h1 {
    padding: 400px 0;
    width: 50%;
}
#redInput {
    background: red;
}
#greenInput {
    background: #0f0;
}
#blueInput {
    background: #00f;
}
#output {
    transition: color 0.5s;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
    height: 15px;
    background: silver;
    opacity: 0.7;
    outline: 0;
    transition: opacity 0.2s;
    width: 100%;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 25px;
    width: 25px;
}
.slider::-moz-range-thumb {
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 25px;
    width: 25px;
}
#redSlider::-webkit-slider-thumb {
    background: red;
}
#redSlider::-moz-range-thumb {
    background: red;
}
#greenSlider::-webkit-slider-thumb {
    background: #0f0;
}
#greenSlider::-moz-range-thumb {
    background: #0f0;
}
#blueSlider::-webkit-slider-thumb {
    background: #00f;
}
#blueSlider::-moz-range-thumb {
    background: #00f;
}
.slider:hover {
    opacity: 1;
}
input {
    background: rgba(0, 0, 0, 0);
    border: none;
    color: #fff;
    height: 100%;
    font-size: 5em;
    margin: 10px;
    text-align: center;
    width: 100%;
}
#output p {
    padding: 250px 0;
    max-width: none;
}
#output h2 {
    padding: 0 0 100px;
    max-width: none;
}

@media (max-width: 1000px) {
    #top h1{
        text-align: center!important;
        width: 100%;
    }
    #top h1.text-right {
        padding: 100px 0 0;
    }
    #top h1.text-left {
        padding: 0 0 100px;
    }
}
@media (max-width: 700px) {
    input {
        font-size: 2.5em;
    }
    #output p {
        font-size: 3em;
        padding: 50px 0;
    }
}