#board {
    width: 100%;
}
td {
    border: 2px solid;
    padding: 0;
    height: 14.3%;
    width: 14.3%;
    background: var(--primary-light);
}
table {
    border: 5px solid;
    border-collapse: collapse;
    margin: 100px auto;
}
button {
    cursor: pointer;
    font-size: 2em;
    width: 50%;
    margin: 50px auto;
    display: block;
    background: var(--secondary-dark);
    color: #fff;
    border: none;
}
#valid {
    display: none;
    font-size: 250%;
    text-align: center;
}
circle {
    border-radius: 50%;
    width: 90%;
    height: 90%;
    display: table;
    margin: auto;
}
.main {
    position: relative;
    max-width: 800px;
    width: 90%;
    margin: auto;
}
.cover {
    position: absolute;
    top: 0;
    left: 0;
}
#spinner:after {
    content: " ";
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
    border: 20px solid var(--light);
    border-color: var(--light) transparent var(--light) transparent;
    animation: spin 2s linear infinite;
}
