
RewriteEngine on
RewriteOptions inherit
RewriteBase /
RewriteRule [A-Z] - [E=HASCAPS:TRUE,S=1]
RewriteRule ![A-Z] - [S=28]
RewriteRule ^([^A]*)A(.*)$ $1a$2
RewriteRule ^([^B]*)B(.*)$ $1b$2
RewriteRule ^([^C]*)C(.*)$ $1c$2
RewriteRule ^([^D]*)D(.*)$ $1d$2
RewriteRule ^([^E]*)E(.*)$ $1e$2
RewriteRule ^([^F]*)F(.*)$ $1f$2
RewriteRule ^([^G]*)G(.*)$ $1g$2
RewriteRule ^([^H]*)H(.*)$ $1h$2
RewriteRule ^([^I]*)I(.*)$ $1i$2
RewriteRule ^([^J]*)J(.*)$ $1j$2
RewriteRule ^([^K]*)K(.*)$ $1k$2
RewriteRule ^([^L]*)L(.*)$ $1l$2
RewriteRule ^([^M]*)M(.*)$ $1m$2
RewriteRule ^([^N]*)N(.*)$ $1n$2
RewriteRule ^([^O]*)O(.*)$ $1o$2
RewriteRule ^([^P]*)P(.*)$ $1p$2
RewriteRule ^([^Q]*)Q(.*)$ $1q$2
RewriteRule ^([^R]*)R(.*)$ $1r$2
RewriteRule ^([^S]*)S(.*)$ $1s$2
RewriteRule ^([^T]*)T(.*)$ $1t$2
RewriteRule ^([^U]*)U(.*)$ $1u$2
RewriteRule ^([^V]*)V(.*)$ $1v$2
RewriteRule ^([^W]*)W(.*)$ $1w$2
RewriteRule ^([^X]*)X(.*)$ $1x$2
RewriteRule ^([^Y]*)Y(.*)$ $1y$2
RewriteRule ^([^Z]*)Z(.*)$ $1z$2
RewriteCond %{ENV:HASCAPS} TRUE
RewriteCond %{HTTP_HOST} ^goprogram\.co\.uk$
RewriteRule ^/?$ "\/index\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about$ "\/about\/index\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^online$ "\/online\/index\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^fractals\/index$ "\/turtle\/fractals\/index\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^cv$ "\/about\/CV\.pdf" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^cv\.pdf$ "\/about\/CV\.pdf" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^CV\.pdf$ "\/about\/CV\.pdf" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/cv\.pdf$ "\/about\/CV\.pdf" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/cv$ "\/about\/CV\.pdf" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^line$ "\/turtle\/fractals\/line" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^line$ "\/turtle\/fractals\/line" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^turtle\/line$ "\/turtle\/fractals\/line" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^fractals\/line$ "\/turtle\/fractals\/line" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^fractals\/turtle\/line$ "\/turtle\/fractals\/line" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^fractals\/turtle\/famous$ "\/turtle\/fractals\/famous" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^fractals\/famous$ "\/turtle\/fractals\/famous" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^turtle\/famous$ "\/turtle\/fractals\/famous" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^famous$ "\/turtle\/fractals\/famous" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^maths$ "\/turtle\/maths" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^circles$ "\/turtle\/circles" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^colours$ "\/turtle\/colours" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^calculator$ "\/online\/calculator" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^converter$ "\/online\/converter" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^sudoku$ "\/online\/sudoku" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/primenumberchecker$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.primenumberchecker" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^primenumberchecker$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.primenumberchecker" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/primes$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.primenumberchecker" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/prime$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.primenumberchecker" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^prime$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.primenumberchecker" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^primes$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.primenumberchecker" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/foursquares$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.workingmemorytrainer" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/foursquare$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.workingmemorytrainer" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/workingmemorytrainer$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.workingmemorytrainer" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/memory$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.workingmemorytrainer" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^memory$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.workingmemorytrainer" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^foursquares$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.workingmemorytrainer" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^foursquare$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.workingmemorytrainer" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^workingmemorytrainer$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.workingmemorytrainer" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^git$ "https\:\/\/github\.com\/George\-Ogden" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^github$ "https\:\/\/github\.com\/George\-Ogden" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^repl$ "https\:\/\/repl\.it\/\@GeorgeOgden" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^patreon$ "https\:\/\/patreon\.com\/goprogram" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^give$ "https\:\/\/patreon\.com\/goprogram" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^donate$ "https\:\/\/patreon\.com\/goprogram" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^youtube$ "https\:\/\/youtube\.com\/channel\/UCZz0eP4YQ\-EXPBtDYgKTAsg" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^video$ "https\:\/\/youtube\.com\/channel\/UCZz0eP4YQ\-EXPBtDYgKTAsg" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^sololearn$ "https\:\/\/sololearn\.com\/Profile\/12838639" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^replit$ "https\:\/\/repl\.it\/\@GeorgeOgden" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^advertisement$ "\/ads" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^ai\/?(.*)$ "\/artificial\-intelligence$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^artificial_intelligence\/?(.*)$ "\/artificial\-intelligence$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^artificial\-intelligence$ "\/artificial\-intelligence\/index\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^artificial\-intelligenceindex$ "\/artificial\-intelligence\/index\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^artificial\-intelligenceclassifier$ "\/artificial\-intelligence\/classifier" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^artificial\-intelligencecode$ "\/artificial\-intelligence\/code" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^fractals\/?(.*)$ "\/turtle\/fractals$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^Online\/?(.*)$ "\/online$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^mobile\/?(.*)$ "\/apps$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^appsssssssssssssssss\/?(.*)$ "\/apps$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^fractalssssssssssssssss\/?(.*)$ "\/turtle\/fractals$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^turtle\/fractalssssssssssssssss\/?(.*)$ "\/turtle\/fractals\/$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^play$ "https\:\/\/play\.google\.com\/store\/apps\/developer\?id\=GoProgram" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^sudoku\-solver$ "\/online\/sudoku" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^online\/sudoku\-solver$ "\/online\/sudoku" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^online\/sudoku_solver$ "\/online\/sudoku" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^sudoku_solver$ "\/online\/sudoku" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^classifier$ "\/artificial\-intelligence\/classifier" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^code$ "\/artificial\-intelligence\/code" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^turtlecircles$ "\/turtle\/circles" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^turtlecolours$ "\/turtle\/colours" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^onlinecalculator\/?(.*)$ "\/online\/calculator$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^turtle\/fractalsline$ "\/turtle\/fractals\/line" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^turtle\/fractalsfamous$ "\/turtle\/fractals\/famous" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^onlineconverter$ "\/online\/converter" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^onlinesudoku$ "\/online\/sudoku" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^colour\-classifier$ "\/artificial\-intelligence\/classifier" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^ai\/colour\-classifier$ "\/artificial\-intelligence\/classifier" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^work\/?(.*)$ "https\:\/\/pph\.me\/george\-ogden$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^freelancing\/?(.*)$ "https\:\/\/pph\.me\/george\-ogden$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^pph\/?(.*)$ "https\:\/\/pph\.me\/george\-ogden$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^freelance\/?(.*)$ "https\:\/\/pph\.me\/george\-ogden$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^peopleperhour\/?(.*)$ "https\:\/\/pph\.me\/george\-ogden$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^people\-per\-hour\/?(.*)$ "https\:\/\/pph\.me\/george\-ogden$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^calc\/?(.*)$ "\/online\/calculator$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^walk$ "\/about\/walk$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^hire\/?(.*)$ "https\:\/\/pph\.me\/george\-ogden$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^python\/?(.*)$ "\/turtle\/index$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^programs\/?(.*)$ "\/software$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^Programs\/?(.*)$ "\/software$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^software$ "\/software\/index\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^software\/birthday$ "\/software\/birthday\-reminder" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^software\/birthday_reminder$ "\/software\/birthday\-reminder" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^software\/birthday\-reminder$ "\/software\/birthday\-reminder" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^birthday\-reminder$ "\/software\/birthday\-reminder" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^birthday$ "\/software\/reminder" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^Index$ "\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^reminder$ "\/software\/reminder" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^software\/creator$ "\/software\/graph" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^software\/graph\-creator$ "\/software\/graph" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^software\/graph_creator$ "\/software\/graph" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^graph$ "\/software\/graph" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^creator$ "\/software\/graph" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^graph_creator$ "\/software\/graph" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^graph\-creator$ "\/software\/graph" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^updates$ "\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^update$ "\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/update$ "\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^whats_new$ "\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^what\'s\-new$ "\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^what\'s\-new\.htm$ "\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^what\'s\-new$ "\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^what\'s_new$ "\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^what\'s_new\.htm$ "\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^what\'s_new$ "\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/what\'s_new$ "\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/what\'s\-new$ "\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/whats\-new$ "\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/new$ "\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^new$ "\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/what\'sinstalled$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/whatsinstalled$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/myapps$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/installed$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/Installed$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/my\-apps$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/my_apps$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^my_apps$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^my\-apps$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^myapps$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^what\'sinstalled$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^whatsinstalled$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^what\'s_Installed$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^what\'s_installed$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^installed$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/mypps$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^tutorials$ "\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^tutorial$ "\/about\/tutorials" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/tutorial$ "\/about\/tutorials" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/python\-tutorials$ "\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/python_tutorials$ "\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/pythontutorials$ "\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^pythontutorials$ "\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^python\-tutorials$ "\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^python_tutorials$ "\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^understanding_python$ "\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^understanding\-python$ "\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^understandingpython$ "\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/understandingpython$ "\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/understanding\-python$ "\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/understanding_python$ "\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^learn$ "\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^learnpython$ "\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^learn_python$ "\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^learn\-python$ "\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^artificial\-intelligence\/index$ "\/artificial\-intelligence\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^software\/index$ "\/software\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^online\/index$ "\/online\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/index$ "\/apps\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^turtle\/index$ "\/turtle\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^turtle\/fractals\/index$ "\/turtle\/fractals\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/index$ "\/about" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^software\/unix$ "\/software\/commands" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^unix$ "\/software\/commands" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^commands$ "\/software\/commands" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^linkedin$ "https://www.linkedin.com/in/george-ogden-2770541b4" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^linked$ "https://www.linkedin.com/in/george-ogden-2770541b4" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^link$ "https://www.linkedin.com/in/george-ogden-2770541b4" [R=301,L]

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{THE_REQUEST} /([^.]+)\.htm [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?goprogram.co.uk
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
Header always set Content-Security-Policy: upgrade-insecure-requests
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?goprogram.co.uk
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]