
RewriteEngine on
RewriteOptions inherit
RewriteBase /
RewriteRule [A-Z] - [E=HASCAPS:TRUE,S=1]
RewriteRule ![A-Z] - [S=28]
RewriteRule ^([^A]*)A(.*)$ $1a$2
RewriteRule ^([^B]*)B(.*)$ $1b$2
RewriteRule ^([^C]*)C(.*)$ $1c$2
RewriteRule ^([^D]*)D(.*)$ $1d$2
RewriteRule ^([^E]*)E(.*)$ $1e$2
RewriteRule ^([^F]*)F(.*)$ $1f$2
RewriteRule ^([^G]*)G(.*)$ $1g$2
RewriteRule ^([^H]*)H(.*)$ $1h$2
RewriteRule ^([^I]*)I(.*)$ $1i$2
RewriteRule ^([^J]*)J(.*)$ $1j$2
RewriteRule ^([^K]*)K(.*)$ $1k$2
RewriteRule ^([^L]*)L(.*)$ $1l$2
RewriteRule ^([^M]*)M(.*)$ $1m$2
RewriteRule ^([^N]*)N(.*)$ $1n$2
RewriteRule ^([^O]*)O(.*)$ $1o$2
RewriteRule ^([^P]*)P(.*)$ $1p$2
RewriteRule ^([^Q]*)Q(.*)$ $1q$2
RewriteRule ^([^R]*)R(.*)$ $1r$2
RewriteRule ^([^S]*)S(.*)$ $1s$2
RewriteRule ^([^T]*)T(.*)$ $1t$2
RewriteRule ^([^U]*)U(.*)$ $1u$2
RewriteRule ^([^V]*)V(.*)$ $1v$2
RewriteRule ^([^W]*)W(.*)$ $1w$2
RewriteRule ^([^X]*)X(.*)$ $1x$2
RewriteRule ^([^Y]*)Y(.*)$ $1y$2
RewriteRule ^([^Z]*)Z(.*)$ $1z$2
RewriteCond %{ENV:HASCAPS} TRUE
RewriteCond %{HTTP_HOST} ^goprogram\.co\.uk$
RewriteRule ^/?$ "https\:\/\/goprogram\.co\.uk\/index\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about$ "https\:\/\/goprogram\.co\.uk\/about\/index\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^online$ "https\:\/\/goprogram\.co\.uk\/online\/index\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^fractals\/index$ "https\:\/\/goprogram\.co\.uk\/turtle\/fractals\/index\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^cv$ "https\:\/\/goprogram\.co\.uk\/about\/CV\.pdf" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^cv\.pdf$ "https\:\/\/goprogram\.co\.uk\/about\/CV\.pdf" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^CV\.pdf$ "https\:\/\/goprogram\.co\.uk\/about\/CV\.pdf" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/cv\.pdf$ "https\:\/\/goprogram\.co\.uk\/about\/CV\.pdf" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/cv$ "https\:\/\/goprogram\.co\.uk\/about\/CV\.pdf" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^line$ "https\:\/\/goprogram\.co\.uk\/turtle\/fractals\/line" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^line$ "https\:\/\/goprogram\.co\.uk\/turtle\/fractals\/line" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^turtle\/line$ "https\:\/\/goprogram\.co\.uk\/turtle\/fractals\/line" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^fractals\/line$ "https\:\/\/goprogram\.co\.uk\/turtle\/fractals\/line" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^fractals\/turtle\/line$ "https\:\/\/goprogram\.co\.uk\/turtle\/fractals\/line" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^fractals\/turtle\/famous$ "https\:\/\/goprogram\.co\.uk\/turtle\/fractals\/famous" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^fractals\/famous$ "https\:\/\/goprogram\.co\.uk\/turtle\/fractals\/famous" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^turtle\/famous$ "https\:\/\/goprogram\.co\.uk\/turtle\/fractals\/famous" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^famous$ "https\:\/\/goprogram\.co\.uk\/turtle\/fractals\/famous" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^maths$ "https\:\/\/goprogram\.co\.uk\/turtle\/maths" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^circles$ "https\:\/\/goprogram\.co\.uk\/turtle\/circles" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^colours$ "https\:\/\/goprogram\.co\.uk\/turtle\/colours" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^calculator$ "https\:\/\/goprogram\.co\.uk\/online\/calculator" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^converter$ "https\:\/\/goprogram\.co\.uk\/online\/converter" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^sudoku$ "https\:\/\/goprogram\.co\.uk\/online\/sudoku" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/primenumberchecker$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.primenumberchecker" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^primenumberchecker$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.primenumberchecker" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/primes$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.primenumberchecker" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/prime$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.primenumberchecker" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^prime$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.primenumberchecker" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^primes$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.primenumberchecker" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/foursquares$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.workingmemorytrainer" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/foursquare$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.workingmemorytrainer" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/workingmemorytrainer$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.workingmemorytrainer" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/memory$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.workingmemorytrainer" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^memory$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.workingmemorytrainer" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^foursquares$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.workingmemorytrainer" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^foursquare$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.workingmemorytrainer" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^workingmemorytrainer$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.workingmemorytrainer" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^git$ "https\:\/\/github\.com\/George\-Ogden" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^github$ "https\:\/\/github\.com\/George\-Ogden" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^repl$ "https\:\/\/repl\.it\/\@GeorgeOgden" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^patreon$ "https\:\/\/patreon\.com\/goprogram" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^give$ "https\:\/\/patreon\.com\/goprogram" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^donate$ "https\:\/\/patreon\.com\/goprogram" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^youtube$ "https\:\/\/youtube\.com\/channel\/UCZz0eP4YQ\-EXPBtDYgKTAsg" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^video$ "https\:\/\/youtube\.com\/channel\/UCZz0eP4YQ\-EXPBtDYgKTAsg" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^sololearn$ "https\:\/\/sololearn\.com\/Profile\/12838639" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^replit$ "https\:\/\/repl\.it\/\@GeorgeOgden" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^advertisement$ "HTTPS\:\/\/goprogram\.co\.uk\/ads" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^ai\/?(.*)$ "https\:\/\/goprogram\.co\.uk\/artificial\-intelligence$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^artificial_intelligence\/?(.*)$ "https\:\/\/goprogram\.co\.uk\/artificial\-intelligence$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^artificial\-intelligence$ "https\:\/\/goprogram\.co\.uk\/artificial\-intelligence\/index\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^artificial\-intelligenceindex$ "https\:\/\/goprogram\.co\.uk\/artificial\-intelligence\/index\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^artificial\-intelligenceclassifier$ "https\:\/\/goprogram\.co\.uk\/artificial\-intelligence\/classifier" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^artificial\-intelligencecode$ "https\:\/\/goprogram\.co\.uk\/artificial\-intelligence\/code" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^fractals\/?(.*)$ "https\:\/\/goprogram\.co\.uk\/turtle\/fractals$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^Online\/?(.*)$ "https\:\/\/goprogram\.co\.uk\/online$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^mobile\/?(.*)$ "https\:\/\/goprogram\.co\.uk\/apps$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^appsssssssssssssssss\/?(.*)$ "https\:\/\/goprogram\.co\.uk\/apps$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^fractalssssssssssssssss\/?(.*)$ "https\:\/\/goprogram\.co\.uk\/turtle\/fractals$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^turtle\/fractalssssssssssssssss\/?(.*)$ "https\:\/\/goprogram\.co\.uk\/turtle\/fractals\/$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^play$ "https\:\/\/play\.google\.com\/store\/apps\/developer\?id\=GoProgram" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^sudoku\-solver$ "https\:\/\/goprogram\.co\.uk\/online\/sudoku" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^online\/sudoku\-solver$ "https\:\/\/goprogram\.co\.uk\/online\/sudoku" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^online\/sudoku_solver$ "https\:\/\/goprogram\.co\.uk\/online\/sudoku" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^sudoku_solver$ "https\:\/\/goprogram\.co\.uk\/online\/sudoku" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^classifier$ "https\:\/\/goprogram\.co\.uk\/artificial\-intelligence\/classifier" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^code$ "https\:\/\/goprogram\.co\.uk\/artificial\-intelligence\/code" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^turtlecircles$ "https\:\/\/goprogram\.co\.uk\/turtle\/circles" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^turtlecolours$ "https\:\/\/goprogram\.co\.uk\/turtle\/colours" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^onlinecalculator\/?(.*)$ "https\:\/\/goprogram\.co\.uk\/online\/calculator$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^turtle\/fractalsline$ "https\:\/\/goprogram\.co\.uk\/turtle\/fractals\/line" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^turtle\/fractalsfamous$ "https\:\/\/goprogram\.co\.uk\/turtle\/fractals\/famous" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^onlineconverter$ "https\:\/\/goprogram\.co\.uk\/online\/converter" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^onlinesudoku$ "https\:\/\/goprogram\.co\.uk\/online\/sudoku" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^colour\-classifier$ "https\:\/\/goprogram\.co\.uk\/artificial\-intelligence\/classifier" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^ai\/colour\-classifier$ "https\:\/\/goprogram\.co\.uk\/artificial\-intelligence\/classifier" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^work\/?(.*)$ "https\:\/\/pph\.me\/george\-ogden$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^freelancing\/?(.*)$ "https\:\/\/pph\.me\/george\-ogden$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^pph\/?(.*)$ "https\:\/\/pph\.me\/george\-ogden$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^freelance\/?(.*)$ "https\:\/\/pph\.me\/george\-ogden$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^peopleperhour\/?(.*)$ "https\:\/\/pph\.me\/george\-ogden$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^people\-per\-hour\/?(.*)$ "https\:\/\/pph\.me\/george\-ogden$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^calc\/?(.*)$ "https\:\/\/goprogram\.co\.uk\/online\/calculator$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^walk$ "https\:\/\/goprogram\.co\.uk\/about\/walk$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^hire\/?(.*)$ "https\:\/\/pph\.me\/george\-ogden$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^python\/?(.*)$ "https\:\/\/goprogram\.co\.uk\/turtle\/index$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^programs\/?(.*)$ "https\:\/\/goprogram\.co\.uk\/software$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^Programs\/?(.*)$ "https\:\/\/goprogram\.co\.uk\/software$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^software$ "https\:\/\/goprogram\.co\.uk\/software\/index\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^software\/birthday$ "https\:\/\/goprogram\.co\.uk\/software\/birthday\-reminder" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^software\/birthday_reminder$ "https\:\/\/goprogram\.co\.uk\/software\/birthday\-reminder" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^software\/birthday\-reminder$ "https\:\/\/goprogram\.co\.uk\/software\/birthday\-reminder" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^birthday\-reminder$ "https\:\/\/goprogram\.co\.uk\/software\/birthday\-reminder" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^birthday$ "https\:\/\/goprogram\.co\.uk\/software\/reminder" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^Index$ "https\:\/\/goprogram\.co\.uk\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^reminder$ "https\:\/\/goprogram\.co\.uk\/software\/reminder" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^software\/creator$ "https\:\/\/goprogram\.co\.uk\/software\/graph" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^software\/graph\-creator$ "https\:\/\/goprogram\.co\.uk\/software\/graph" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^software\/graph_creator$ "https\:\/\/goprogram\.co\.uk\/software\/graph" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^graph$ "https\:\/\/goprogram\.co\.uk\/software\/graph" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^creator$ "https\:\/\/goprogram\.co\.uk\/software\/graph" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^graph_creator$ "https\:\/\/goprogram\.co\.uk\/software\/graph" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^graph\-creator$ "https\:\/\/goprogram\.co\.uk\/software\/graph" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^updates$ "https\:\/\/goprogram\.co\.uk\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^update$ "https\:\/\/goprogram\.co\.uk\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/update$ "https\:\/\/goprogram\.co\.uk\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^whats_new$ "https\:\/\/goprogram\.co\.uk\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^what\'s\-new$ "https\:\/\/goprogram\.co\.uk\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^what\'s\-new\.htm$ "https\:\/\/goprogram\.co\.uk\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^what\'s\-new$ "https\:\/\/goprogram\.co\.uk\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^what\'s_new$ "https\:\/\/goprogram\.co\.uk\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^what\'s_new\.htm$ "https\:\/\/goprogram\.co\.uk\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^what\'s_new$ "https\:\/\/goprogram\.co\.uk\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/what\'s_new$ "https\:\/\/goprogram\.co\.uk\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/what\'s\-new$ "https\:\/\/goprogram\.co\.uk\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/whats\-new$ "https\:\/\/goprogram\.co\.uk\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/new$ "https\:\/\/goprogram\.co\.uk\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^new$ "https\:\/\/goprogram\.co\.uk\/about\/updates" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/what\'sinstalled$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/whatsinstalled$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/myapps$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/installed$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/Installed$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/my\-apps$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/my_apps$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^my_apps$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^my\-apps$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^myapps$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^what\'sinstalled$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^whatsinstalled$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^what\'s_Installed$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^what\'s_installed$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^installed$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/mypps$ "https\:\/\/play\.google\.com\/store\/apps\/details\?id\=uk\.co\.goprogram\.myapps" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^tutorials$ "http\:\/\/www\.goprogram\.co\.uk\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^tutorial$ "http\:\/\/www\.goprogram\.co\.uk\/about\/tutorials" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/tutorial$ "http\:\/\/www\.goprogram\.co\.uk\/about\/tutorials" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/python\-tutorials$ "http\:\/\/www\.goprogram\.co\.uk\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/python_tutorials$ "http\:\/\/www\.goprogram\.co\.uk\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/pythontutorials$ "http\:\/\/www\.goprogram\.co\.uk\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^pythontutorials$ "http\:\/\/www\.goprogram\.co\.uk\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^python\-tutorials$ "http\:\/\/www\.goprogram\.co\.uk\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^python_tutorials$ "http\:\/\/www\.goprogram\.co\.uk\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^understanding_python$ "http\:\/\/www\.goprogram\.co\.uk\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^understanding\-python$ "http\:\/\/www\.goprogram\.co\.uk\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^understandingpython$ "http\:\/\/www\.goprogram\.co\.uk\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/understandingpython$ "http\:\/\/www\.goprogram\.co\.uk\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/understanding\-python$ "http\:\/\/www\.goprogram\.co\.uk\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/understanding_python$ "http\:\/\/www\.goprogram\.co\.uk\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^learn$ "http\:\/\/www\.goprogram\.co\.uk\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^learnpython$ "http\:\/\/www\.goprogram\.co\.uk\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^learn_python$ "http\:\/\/www\.goprogram\.co\.uk\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^learn\-python$ "http\:\/\/www\.goprogram\.co\.uk\/about\/tutorials\.html" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^artificial\-intelligence\/index$ "https\:\/\/goprogram\.co\.uk\/artificial\-intelligence\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^software\/index$ "https\:\/\/goprogram\.co\.uk\/software\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^online\/index$ "https\:\/\/goprogram\.co\.uk\/online\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^apps\/index$ "https\:\/\/goprogram\.co\.uk\/apps\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^turtle\/index$ "https\:\/\/goprogram\.co\.uk\/turtle\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^turtle\/fractals\/index$ "https\:\/\/goprogram\.co\.uk\/turtle\/fractals\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^about\/index$ "https\:\/\/goprogram\.co\.uk\/about" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^software\/unix$ "https\:\/\/goprogram\.co\.uk\/software\/commands" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^unix$ "https\:\/\/goprogram\.co\.uk\/software\/commands" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^commands$ "https\:\/\/goprogram\.co\.uk\/software\/commands" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^linkedin$ "https://www.linkedin.com/in/george-ogden-2770541b4" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^linked$ "https://www.linkedin.com/in/george-ogden-2770541b4" [R=301,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^link$ "https://www.linkedin.com/in/george-ogden-2770541b4" [R=301,L]

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{THE_REQUEST} /([^.]+)\.htm [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?goprogram.co.uk
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
Header always set Content-Security-Policy: upgrade-insecure-requests
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?goprogram.co.uk
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]