/*#BG {
    background-image: url(images/home.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: content-box;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}
#left,
#right,
.dot {
    color: #80ffff;
    cursor: pointer;
    display: inline-block;
    font-size: 2em;
    margin: 5px;
    text-align: center;
}
#controls {
    bottom: 5%;
    position: absolute;
    width: 100%;
    z-index: 1;
}
#dots {
    bottom: 5%;
    display: flex;
    position: absolute;
    width: 100%;
}
#left {
    bottom: 5%;
    float: left;
    position: absolute;
    left: 5%;
}
#left:hover,
#right:hover {
    color: #0080ff;
}
#right {
    bottom: 5%;
    float: right;
    position: absolute;
    right: 5%;
}
.selected {
    color: #00f;
}
.dot:not(.selected):hover {
    color: #0080ff;
}
* {
    box-sizing: border-box;
    justify-items: center;
}
body {
    background: #8000ff;
    height: 100%;
    margin: 0;
    min-height: 600px;
    overflow-x: hidden;
    padding: 0;
    position: absolute;
    width: 100%;
}
section {
    height: 100%;
    margin: 0;
    min-height: 600px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
#top {
    margin: 5% 5% 0 0;
    position: relative;
}
#main {
    bottom: 20%;
    position: absolute;
    right: 5%;
    width: 90%;
}
h1 {
    color: #8000ff;
    font: bold 8em "Nova Round", Georgia, cursive;
    margin: auto;
    text-align: right;
    letter-spacing: 0.1em;
    text-shadow: 5px 5px 10px #8000ff;
    width: 100%;
}
h1::selection {
    color: silver;
    text-shadow: 5px 5px 10px silver;
}
@media only screen and (max-width: 1200px) {
    @media only screen and (max-width: 1200px) {
        #top {
            position: absolute;
            right: 5%;
            top: 150px;
        }
        .dot {
            margin: 5% 5px;
        }
        #left,
        #right {
            margin-bottom: 5%;
        }
        #controls,
        #dots {
            bottom: 7.5%;
        }
    }
    @media only screen and (max-width: 900px) {
        h1 {
            font-size: 4em;
        }
        h2 {
            font-size: 3em;
        }
    }
    @media only screen and (max-width: 700px) {
        h1 {
            font-size: 3em;
        }
        h2 {
            font-size: 2em;
        }
    }
    @media only screen and (max-width: 750px) {
        #top {
            height: auto;
            margin: 5% 5% 0 0;
            padding: 5px 0;
            position: relative;
            right: 0;
        }
        h2 {
            padding: 5%;
        }
    }
}
*/
h1 {
    font-size: 5em;
}
h2 {
    font-size: 3em;
}
#main {
    width: 100%;
}
#main .text {
    transform: translateY(-50%);
    left: 50px;
    text-align: left;
}
@media (max-width: 700px) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.5em;
    }
    #main .text {
        left: 10px;
    }
}
