* {
    box-sizing: border-box;
    font: 23px/150% var(--primary-font);
}
/*
body {
    background: #80ffff;
    background: rgba(128, 255, 255, 0.1);
    background: linear-gradient(to right bottom, rgba(128, 255, 255, 0.1), rgba(128, 255, 255, 0.5));
    background: url(images/background1.png) rgba(128, 255, 255, 0.1);
    background: url(images/background1.png) linear-gradient(to right bottom, rgba(128, 255, 255, 0.1), rgba(128, 255, 255, 0.5));
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}
section {
    display: grid;
    height: 100%;
    margin: 0;
    padding: 50px 0 0;
    position: relative;
    width: 100%;
}
h1 {
    font: bold 5em "Nova Round", Georgia, cursive;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    border: solid;
    display: inline-block;
    font: bold 4em Roboto, Georgia, sans-serif;
    height: 100%;
    margin: auto;
    padding: 40px;
    text-align: center;
    transition: color 0.5s;
    vertical-align: middle;
    width: 100%;
}
h3 {
    background-color: #fff;
    font: 700 250% Ubuntu, sans-serif;
    text-align: center;
    text-shadow: 1px 1px 5px #000;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
section div {
    display: grid;
    margin: auto;
    width: 100%;
}
.h2 {
    grid-area: h2;
    width: 100%;
}
.h2:hover .tooltip_ {
    opacity: 1;
    visibility: visible;
}
iframe {
    background: linear-gradient(to right bottom, rgba(192, 192, 192, 0.8), rgba(192, 192, 192, 0.5));
    width: 100% ;
}
nav li {
    background-color: inherit;
    display: inline-block;
    margin: auto 2em;
}
nav ul {
    background-color: inherit;
    padding: 0;
    text-align: center;
}
.image {
    align-self: center;
    background: #000;
    border: 3px ridge silver;
    color: silver;
    grid-area: image;
    height: 100%;
    justify-self: center;
    overflow: hidden;
    padding: 20px;
    width: 100%;
}
.vid {
    border: 3px ridge silver;
    grid-area: video;
    height: 0;
    padding-bottom: 51%;
    position: relative;
    width: 100%;
}
.vid iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.wiki {
    border: 3px ridge silver;
    grid-area: wiki;
    height: 100%;
    min-height: 400px;
    position: relative;
    width: 100%;
    min-width: 400px;
}
.wiki iframe {
    height: 100%;
    width: 100%;
}
.p {
    color: #000;
    font: 150% "Noto Serif", Times, serif;
    grid-area: p;
    height: 100%;
    padding: 10%;
    text-align: center;
    width: 100%;
}
img {
    transition: transform 0.5s;
    width: 100%;
}
section img:hover {
    transform: scale(1.1, 1.1);
}
.image:hover .tooltip_ {
    opacity: 1;
    visibility: visible;
}
.fa {
    margin: auto;
    vertical-align: middle;
}
i {
    text-align: center;
}
nav {
    background: linear-gradient(to bottom, #00f 75%, rgba(0, 0, 0, 0));
    color: silver;
    font: 600 1em "Noto Sans", Roboto, Arial, sans-serif;
    height: 50px;
    position: fixed;
    text-align: center;
    text-decoration: None;
    top: 100px;
    user-select: none;
    width: 100%;
    z-index: 1;
}
nav a {
    color: silver;
    position: relative;
    text-decoration: none;
}
nav a:hover {
    right: 0;
    text-decoration: none;
}
nav a:hover:after {
    border-color: silver;
    right: 0;
}
nav a:after {
    border-top: 0.1em solid silver;
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0.14em;
    left: 0;
    transition: right 0.5s ease-in-out;
}
nav a:hover:after {
    animation: all 0.5s ease-in-out;
    border-color: silver;
}
#return {
    border-radius: 50%;
    display: block;
    right: 5%;
    position: fixed;
    top: 75%;
    user-select: none;
    width: 10%;
    min-width: 100px;
    z-index: 1;
}
#return .container {
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
#return .container a {
    background: linear-gradient(to right bottom, rgba(128, 0, 255, 0.5), rgba(128, 0, 255, 0.8));
    border: 5px solid;
    border-radius: 50%;
    color: silver;
    display: grid;
    font-size: 5em;
    height: 100%;
    position: absolute;
    text-shadow: 1px 1px 3px #606000;
    transition: color 0.5s, text-shadow 0.5s;
    width: 100%;
}
#return .container a:hover {
    background: rgba(192, 192, 192, 0.8);
    color: #8000ff;
}
#return .tooltip_ {
    margin: 5px 0 0 -50px;
    top: 100%;
    width: 100px;
}
#return:hover .tooltip_ {
    opacity: 1;
    visibility: visible;
}
#return:hover .tooltip_::after {
    opacity: 1;
    visibility: visible;
}
#top {
    background: #8000ff;
    background: linear-gradient(to right bottom, rgba(128, 0, 255, 0.5), rgba(128, 0, 255, 0.8));
    border: solid 5px;
    color: silver;
    display: flex;
    grid-area: 1;
    height: 200px;
    letter-spacing: 0.5em;
    text-shadow: 1px 1px 3px #606000;
    transition: color 0.5s, text-shadow 0.5s;
    width: 100%;
    word-spacing: 1.2em;
}
#top:hover {
    background: silver;
    background: linear-gradient(to right bottom, rgba(192, 192, 192, 0.5), rgba(192, 192, 192, 0.8));
    color: #8000ff;
    text-shadow: 1px 1px 3px #400080;
}
#top h1:hover::selection {
    background: #8000ff;
    background: rgba(128, 0, 255, 0.8);
    color: silver;
}
#top h1::selection {
    background: silver;
    background: rgba(192, 192, 192, 0.8);
    color: #8000ff;
}
@media only screen and (max-width: 1800px) {
    .image,
    code {
        padding: 5px;
    }
}
@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 500%;
    }
}
@media only screen and (max-width: 750px) {
    h1 {
        font-size: 400%;
        padding: 10% 1%;
    }
    .image {
        padding: 0;
    }
    section {
        font-size: 80%;
    }
    #top {
        height: auto;
        padding: 25px 0;
        margin-top: 5px;
    }
    h2 {
        padding: 5% 1%;
        font-size: 250%;
    }
    h3 {
        font-size: 150%;
    }
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 300%;
    }
}
@media only screen and (max-width: 400px) {
    section {
        font-size: 60%;
    }
    #top {
        padding: 10px;
    }
    .wiki {
        min-width: auto;
    }
    h1 {
        font-size: 200%;
    }
    h2 {
        font-size: 150%;
    }
    h3 {
        font-size: 125%;
    }
}
*/
:root {
    --base: #f1c40f;
    --primary-light: #ffd429;
    --primary-dark: #a68505;
    --primary-transparent: #ffd429a0;
    --secondary-dark: #0008a6;
    --secondary-light: #0f1af2;
    --secondary-transparent: #0f1af2a0;
    --primary-font: Arial;
    --secondary-font: Times;
}

body,
html {
    max-width: 100%;
    overflow-x: hidden;
}
.image:not(.section) {
    position: relative;
    text-align: center;
}
.image:not(.section) .caption {
    position: absolute;
    font-size: x-large;
    width: 100%;
}
.image:not(.section) img {
    width: 100%;
}
.image:not(.section) .caption.bottom {
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
}
.image:not(.section) .caption.centre {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.cover.floor {
    background: linear-gradient(rgba(0, 0, 0, 0.1), 75%, rgba(0, 0, 0, 0.9));
}
.cover.darken {
    background: rgba(0, 0, 0, 0.3);
}
.overlay {
    transition: 0.5s ease;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
}
.overlay .caption.bottom {
    top: 50%;
    left: 50%;
}
.image:hover .cover.overlay {
    opacity: 1;
}

hr {
    background: var(--base);
    height: 2px;
    margin: 0;
    width: 100%;
}
.tooltip_ {
    background-color: var(--secondary-dark);
    height: auto;
    opacity: 0;
    padding: 5px;
    position: absolute;
    text-align: center;
    transition: opacity 0.5s;
    visibility: hidden;
    width: 200px;
    z-index: 2;
}
.tooltip_.top {
    bottom: 150%;
    left: 50%;
    margin: -5px 0 0 -100px;
}
.tooltip_::after {
    border-width: 5px;
    border-style: solid;
    content: "";
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
    visibility: hidden;
}
.tooltip_.top::after {
    margin-left: -5px;
    border-color: var(--secondary-dark) transparent transparent transparent;
    left: 50%;
    top: 100%;
}
h1,
h2,
h3 {
    font-family: var(--secondary-font);
    font-weight: 300;
    user-select: none;
}
.section h1,
.section h2,
.section h3 {
    text-align: center;
    margin: auto;
}
h1 {
    font-size: 5em;
}
h1.colour {
    color: var(--base);
}
h2 {
    font-size: 3em;
}
h2.colour {
    color: var(--primary-dark);
}
h3 {
    font-size: 2em;
}
h3.colour {
    color: var(--secondary-dark);
}
.section.text,
.section.icons,
.section.image {
    padding: 200px 0;
    display: -ms-flexbox;
    display: flex;
}
.section.image {
    justify-content: space-around;
}
.section.icons .icon {
    margin: auto;
    text-align: center;
}
.section.icons a.icon {
    color: black !important;
    text-decoration: none;
}
.section.icons .icon ion-icon {
    padding: 50px;
}
ion-icon {
    font-size: 5em;
}
.section.text h2 {
    color: var(--primary-dark);
    max-width: 500px;
    width: 90%;
}
.section.video {
    padding: 0 0 100px;
}
.section.video h2 {
    padding: 50px 0;
}
.section.video .video {
    height: 0;
    padding-bottom: 51%;
    position: relative;
    width: 90%;
}
.section.video iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.section.image .text {
    flex-wrap: wrap;
    display: flex;
    width: 90%;
    max-width: 500px;
    text-align: center;
    align-content: space-around;
}
p {
    max-width: 500px;
    width: 90%;
    margin: auto;
}
p::selection {
    color: var(--primary-light);
    background: var(--secondary-light);
}
a {
    color: var(--secondary-light) !important;
}
@media (max-width: 700px) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1em;
    }
    #main .caption {
        left: 10px;
    }
}
