* {
    transition: background-color 0.5s ease-in-out;
}
@media only screen and (max-width: 800px) {
    header .top img {
        height: 50px;
        width: 50px;
    }
    header {
        position: relative;
        width: 100%;
    }
    header li {
        height: 50px;
    }
    header li a {
        height: 50px;
    }
    header ul.level-2,
    header ul.level-3 {
        display: block;
        height: 0;
        overflow: hidden;
    }
}
@media only screen and (min-width: 800px) {
    header .top img {
        height: 100px;
        width: 100px;
    }
    header .top a {
        padding: 0;
    }
    header li {
        height: 100px;
    }
    header .level-2,
    header .level-3 {
        overflow: hidden;
        position: absolute;
    }
    header .home {
        display: none;
    }
    header {
        grid-area: 1;
        position: sticky;
        top: 0;
    }
    header ul.level-3 {
        width: 0;
        z-index: 2;
    }
    header ul.level-1 {
        display: flex;
        justify-content: space-around;
    }
}
header {
    background: var(--secondary-dark);
    width: 100%;
    z-index: 2;
}
header ul {
    background: rgba(0, 0, 0, 0);
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header li a {
    color: #FFF!important;
    display: flex;
    height: 100%;
    text-decoration: none!important;
    width: 100%;
}
header li {
    background: var(--secondary-dark);
    justify-content: center;
}
header content {
    margin: auto;
    text-align: center;
}
header img {
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
}
header img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
footer .tooltip_ {
    width: 100px;
}
footer .tooltip_.top {
    margin: 0 0 5px -50px;
}
footer a:hover .tooltip_ {
    opacity: 1;
    visibility: visible;
}
footer a:hover .tooltip_::after {
    opacity: 1;
    visibility: visible;
}
footer {
    align-items: center;
    background: white;
    height: 50px;
    display: flex;
    justify-content: space-around;
    user-select: none;
}
footer a {
    position: relative;
}
footer .icon {
    height: 33px;
}
footer .img {
    -webkit-filter: brightness(0);
    filter: brightness(0);
    height: 33px;
    transition: transform 0.5s ease-out;
}
footer img:hover {
    filter: brightness(100%);
}
@media only screen and (max-width: 800px) {
    section {
        margin: 0;
        padding: 0;
    }
    nav {
        display: none;
    }
}
@media only screen and (max-width: 400px) {
    header li a {
        padding: 19px 0;
    }
}
