@media (max-width: 700px) {
    #top .text {
        right: 10px;
    }
}

#top .text {
    transform: translateY(-100%);
    right: 50px;
    width: 50%;
}
.section.video h2 {
    color: var(--secondary-light);
}