#board {
	width: 100%;
}
td {
	padding: 0;
	height: 14.3%;
	width: 	14.3%;
	background: var(--primary-dark);
	transition: background 1s;
	color: white;
	text-align: center;
	font-size: 2em;
	line-height: 1;
	border-width: 5px;
	border-style: solid;
	border-color: var(--primary-dark);
}
table {
	border-collapse: collapse;
	margin: 100px auto;
	max-width: 800px;
	width: 90%;
}
table.guide {
	position: absolute;
	pointer-events:none;
}
.guide td {
	background: transparent;
	border: 1px dotted rgba(255,255,255,.5);
	z-index: 1;
}

.main {
	padding: 100px 0;
	position: relative;
	width: 100%;
}
.cover {
	position: absolute;
	top: 0;
	left: 0;
}
#spinner:after {
	content: " ";
	display: block;
	width: 200px;
	height: 200px;
	margin: auto;
	border-radius: 50%;
	border: 20px solid var(--light);
	border-color: var(--light) transparent var(--light) transparent;
	animation: spin 2s linear infinite;
}
